@font-face {
  font-family: AgathigyRegular;
  src: url(./font/AgathiqyRegular.ttf);
}
@font-face {
  font-family: EBGaramond;
  src: url(./font/EBGaramond.ttf);
}
@font-face {
  font-family: GothamLight;
  src: url(./font/GothamLight.ttf);
}
body {
  background-color: black;
  color: aliceblue;
}
::-webkit-scrollbar {
  width: 0;
}
