@import '_mixins';

.HomeContener {
  font-family: EBGaramond;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
  margin-top: 15%;
}
.HomeWrapper {
  @include wrapper();
  align-items: center;
}
.Message {
  color: white;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.HomeContener {
  margin-top: 15%;
  width: 80%;
}

.HomeForm {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid white;
}

.input {
  background-color: transparent;
  color: white;
  border: none;

  border-radius: 0;
  outline: none;
  height: 3 rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8 px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

.HomeMessage {
  max-height: calc(50vh - 6px);
  overflow-x: hidden;
  overflow-y: auto;
}
.connection {
  color: red;
}
.greymessage {
  color: gray;
  text-decoration: none;
  text-transform: none;
}
